<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>formince@hotmail.com</AccountUsername>
    <AzureServiceName>Erinc-demo</AzureServiceName>
    <AzureServiceResourceGroup>RG-ErincShop-Dev</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/79dfddb1-18da-43f6-a9d9-e633f6989cf6/resourceGroups/RG-ErincShop-Dev/providers/Microsoft.Web/sites/Erinc-demo</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>79dfddb1-18da-43f6-a9d9-e633f6989cf6</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Abonelik 1</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/79dfddb1-18da-43f6-a9d9-e633f6989cf6/resourceGroups/RG-ErincShop-Dev/providers/Microsoft.Web/sites/Erinc-demo (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>8.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectGuid>52788390-6da1-417a-8d9c-ab18bf25fa78</ProjectGuid>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>Restoran.Web</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>b35e86cb-2985-4cf2-8745-bc27cb49d6a5</TenantId>
  </PropertyGroup>
</Project>