name: Full Deploy (SQL + Files)

on:
  workflow_dispatch:
    inputs:
      run_pre_sql:
        description: '1. Guncelleme ONCESI SQL scripti calissin mi?'
        type: boolean
        default: false
      run_post_sql:
        description: '2. Guncelleme SONRASI SQL scripti calissin mi?'
        type: boolean
        default: false

jobs:
  deploy-full:
    runs-on: self-hosted

    steps:
    # 1. Kodu Getir
    - name: Kodu Getir
      uses: actions/checkout@v4

    # 2. PRE-SQL
    - name: Run Pre-Deployment SQL
      if: ${{ github.event.inputs.run_pre_sql == 'true' }}
      run: |
        echo Pre-SQL Script calistiriliyor...
        sqlcmd -S . -d RestaurantRezervation -E -i "./DbScripts/pre-script.sql"
      shell: cmd

    # 3. Build
    - name: Build ve Publish
      run: dotnet publish ./Restoran.Web/Restoran.Web.csproj -c Release -o ./publish-output

    # 4. Dosya Transferi
    - name: Dosyalari Kopyala
      run: |
        if not exist "C:\Users\Yunus\Desktop\testpublish" mkdir "C:\Users\Yunus\Desktop\testpublish"
        
        robocopy "./publish-output" "C:\Users\Yunus\Desktop\testpublish" /E /XF appsettings.json web.config /XD uploads

        if %ERRORLEVEL% LEQ 1 exit 0 else exit %ERRORLEVEL%
      shell: cmd

    # 5. POST-SQL
    - name: Run Post-Deployment SQL
      if: ${{ github.event.inputs.run_post_sql == 'true' }}
      run: |
        echo Post-SQL Script calistiriliyor...
        sqlcmd -S . -d RestaurantRezervation -E -i "./DbScripts/post-script.sql"
      shell: cmd