name: 1. Adım - Dosya Kopyalama Testi

on:
  workflow_dispatch: # Manuel tetikleme

jobs:
  deploy-files-only:
    runs-on: self-hosted # Senin bilgisayarındaki siyah ekran (Runner) çalışacak

    steps:
    # 1. Kodu GitHub'dan çek
    - name: Kodu Getir
      uses: actions/checkout@v4

    # 2. Projeyi Derle (PATH DÜZELTİLDİ: Restoran.Web klasörüne bakacak)
    - name: Build ve Publish
      run: dotnet publish ./Restoran.Web/Restoran.Web.csproj -c Release -o ./publish-output

    # 3. Dosyaları Masaüstündeki Klasöre Taşı (Robocopy)
    - name: Dosyaları Kopyala (Hariç Tutma Ayarlı)
      run: |
        echo "Kopyalama işlemi başlıyor..."
        
        
        if not exist "C:\Users\Yunus\Desktop\testpublish" mkdir "C:\Users\Yunus\Desktop\testpublish"

        
       
        
        
        
        robocopy "./publish-output" "C:\Users\Yunus\Desktop\testpublish" /E /XF appsettings.json web.config /XD uploads

        
        if %ERRORLEVEL% LEQ 1 exit 0 else exit %ERRORLEVEL%
      shell: cmd